{% extends "orchestrator/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <p style="color:red;">{{ error }}</p>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        <br>
        <br>
        {{ form.password.label_tag }}
        {{ form.password }}
        <br>
        <br>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br>
    <p> Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
{% endblock %}
